@model List<Blog>
@{
    ViewData["Title"] = "My Blogs";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h1>My Blogs</h1>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Delete</th>
            <th>Title</th>
            <th>Category</th>
            <th>Status</th>
            <th>Create Date</th>
            <th>Update</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.Status == false)
                    {
                        <a style="cursor:pointer" onclick="deleteBlog(@item.BlogId)"><i style="color:green" class="mdi mdi-backup-restore"></i></a>
                    }
                    else
                    {
                        <a style="cursor:pointer" onclick="deleteBlog(@item.BlogId)"><i style="color:red" class="mdi mdi-delete"></i></a>
                    }
                </td>
                <td>@item.Title</td>
                <td>@item.Category.Name</td>
                <td>
                    @if (item.Status == true)
                    {
                        <label class="badge badge-gradient-success">Active</label>
                    }
                    else
                    {
                        <label class="badge badge-gradient-danger">Passive</label>
                    }
                </td>
                <td>@item.CreDate.ToString("dd/MMM/yyyy")</td>
                <td><a href="/Blog/UpdateBlog/@item.BlogId" class="btn btn-warning">Update</a></td>
            </tr>
        }
    </tbody>
</table>
<a href="/Blog/AddBlog" class="btn btn-primary">Add</a>

<script>
    function deleteBlog(val) {
        var data = new Object();

        data.id = val;

        Swal.fire({
            title: 'Are you sure?',
            showCancelButton: true,
            confirmButtonText: 'Yes',
        }).then((result) => {
            if (result.isConfirmed) {

                $.ajax({
                    type: "POST",
                    url: '/Blog/DeleteBlog',
                    data: JSON.stringify(data),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        if (data != null) {
                            window.location.reload()
                        }
                    }
                });
            }
        })    
    }
</script>