@model EntityLayer.Concrete.Writer
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>

<section class="main-content-w3layouts-agileits">
    <div class="container">
        <h3 class="tittle">Register</h3>
        <div class="inner-sec">
            <div class="login p-5 bg-light mx-auto mw-100">
                @using (Html.BeginForm("Index", "Register", FormMethod.Post))
                {
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label>Name & Surname</label>
                            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Name, "",new { @class = "text-danger" })
                        </div>
                        <div class="col-md-6 mb-3">
                            <label>Mail</label>
                            @Html.TextBoxFor(x => x.Mail, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Mail, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Password</label>
                            @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-6">
                            <label>Confirm Password</label>
                            @Html.Password("ConfirmPassword", "", new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label>City</label>
                            @Html.DropDownListFor(x => x.CityName, (List<SelectListItem>)ViewBag.Cities, "Select City", new { @class = "form-control", @required = "" })
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary submit mb-4">Register</button>
                    <p>
                        <a onclick="doShowTerms();" href="#">By clicking Signup, I agree to your terms</a>
                    </p>
                }
            </div>
        </div>
    </div>
</section>

<script>
    function doShowTerms() {
        Swal.fire({
            title: '<strong>Terms & Conditions</strong>',
            icon: 'info',
            html:
                '<b>Welcome to BBlog!</b>' +
                '<p>These terms and conditions outline the rules and regulations for the use of BBlog`s Website, located at BBlog.</p> ' +
                '<p>By accessing this website we assume you accept these terms and conditions. Do not continue to use BBlog if you do not agree to take all of the terms and conditions stated on this page.</p>' +
                '<p>The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer Notice and all Agreements: "Client", "You" and "Your" refers to you, the person log on this website and compliant to the Company’s terms and conditions. "The Company", "Ourselves", "We", "Our" and "Us", refers to our Company. "Party", "Parties", or "Us", refers to both the Client and ourselves. All terms refer to the offer, acceptance and consideration of payment necessary to undertake the process of our assistance to the Client in the most appropriate manner for the express purpose of meeting the Client’s needs in respect of provision of the Company’s stated services, in accordance with and subject to, prevailing law of Turkey. Any use of the above terminology or other words in the singular, plural, capitalization and/or he/she or they, are taken as interchangeable and therefore as referring to same.</p>',
            confirmButtonText: 'Accept'
        })
    }
</script>
