@model List<Blog>

<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">My Blogs</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th> Title </th>
                                <th> Category </th>
                                <th> Rating </th>
                                <th> Number of Comments </th>
                                <th> Date </th>
                                <th> Details </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <img src="@item.ThumbnailImage" class="mr-2" alt="image"> <a href="/Blog/BlogDetails/@item.BlogId">@item.Title</a>
                                    </td>
                                    <td>
                                        @if (item.Category.Name == "Film")
                                        {
                                            <label class="badge badge-gradient-success">@item.Category.Name</label>
                                        }
                                        else if (item.Category.Name == "Series")
                                        {
                                            <label class="badge badge-gradient-info">@item.Category.Name</label>
                                        }
                                        else if (item.Category.Name == "Software")
                                        {
                                            <label class="badge badge-gradient-warning">@item.Category.Name</label>
                                        }
                                        else if (item.Category.Name == "Politics")
                                        {
                                            <label class="badge badge-gradient-danger">@item.Category.Name</label>
                                        }
                                        else
                                        {
                                            <label class="badge badge-gradient-primary">@item.Category.Name</label>
                                        }
                                    </td>
                                    <td> @item.BlogRating.TotalPoint.ToString("N2") / 10 </td>
                                    <td class="text-center"> @item.BlogRating.CommentNumber </td>
                                    <td> @item.CreDate.ToString("dd/MMM/yyy") </td>
                                    <td> <a href="/Blog/BlogDetails/@item.BlogId"> <i class="mdi  mdi-arrow-right-bold-hexagon-outline"></i></a> </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>